* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
    display: flex;
    padding:  10px 0 25px;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    margin-top: 30px;
    border-bottom: 1px solid #e0e0e0;
}

.logo {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.logo span {
  color: #46a358;
  font-weight: 600;
  font-size: 20px;
}

.logo img {
  width: 34px;
  height: 34px;
}

.nav-list {
  display: flex;
  gap: 50px;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: #3D3D3D;
  font-weight: 500;
}

.nav-link.active {
  font-weight: 700;
}

.login-btn {
  background-color: #46a358;
  color: #FFFFFF;
  padding: 10px 25px;
  border: none;
  border-radius: 6px;
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.offer {
  background: linear-gradient(to bottom right, #F5F5F5, #FFFFFF);
  min-height: 450px;
  margin-top: 12px;
}

.left-side {
  max-width: 650px;
  display: inline-block;
  padding: 68px 0 0 40px;

}

h3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #3D3D3D;
  margin-bottom: 7px;
  
}

h1 {
  font-weight: 900;
  font-size: 70px;
  line-height: 70px;
  text-transform: uppercase;
  color: #3D3D3D;
  margin-bottom: 5px;
}

.left-side span {
  color: #46a358;
}

p {
  font-size: 14px;
  line-height: 24px;
  color: #727272;
  margin-bottom: 44px;
}

.btn-main {
  border: none;
  border-radius: 6px;
  background: #46a358;
  padding: 11px 26px 9px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 85px;
}


.right-side {
  display: inline-block;
  max-width: 40%;
  position: relative;
}

.large-img {
  position: absolute;
  top: -330px;
  left: 60px;
}

.small-img {
  position: absolute;
  left: 112px;
  bottom: -103px;
}





